<%- include('partials/header'); %>
    <form action="/trackName" method="get">
        <label for="username">輸入你的名字</label>
        <input type="text" name="name" id="username">
        <button type="submit">提交</button>
    </form>
    <script src="../public/app.js"></script>
<%- include('partials/footer'); %>